# Backup directory location
# Dated folders inside this one will be created
backupDir="/var/backups/mysql"

# How many hours between full backups?
# For example if set to 12 hours and the script runs every hour, the
# script will create a full backup at 12:00, and create incremental
# backups until 23:00. At 00:00, it will create the next full backup, and so on.
# Keep in mind, incremental backups are only applicable for XtraDB/InnoDB tables.
# If you have MyISAM tables, these will be copied entirely each time
hoursBeforeFull=12

# Username to access the MySQL server
# On Debian with mysql packaged installs, you can use the defaults
# On other distributions, fill in your MySQL credentials
mysqlUser=`grep user /etc/mysql/debian.cnf | tail -n 1 | cut -d"=" -f2 | awk '{print $1}'`
mysqlPwd=`grep password /etc/mysql/debian.cnf | tail -n 1 | cut -d"=" -f2 | awk '{print $1}'`

# Compress the backup or not
# Set compress to yes/no
# Compression is enabled by default
compression=true

# Number of days to keep backups (includes full and incremental)
keepDays=7

# Send e-mail notifications?
# Possible values: always, onerror, never
sendEmail=never

# Send to which e-mail address
emailAddress=
